<footer>

  <br><br><br><br>
  <p>Created by: Geordie Young, Mithun Ramesh and Henry Shuster</p>
  <p>Date of Update: 3/12/19 </p>
  <contactInfo>Contact information:
    <a href="mailto:ghyoungiv@gmail.com">
    ghyoungiv@gmail.com</a>
  </contactInfo>

  <br>
  <contactInfo>Contact information:
    <a href="mailto:mithunramesh78@gmail.com">
      mithunramesh78@gmail.com</a>
  </contactInfo>

  <br>
  <contactInfo>Contact information:
    <a href="mailto:henryshust01@gmail.com">
    henryshust01@gmail.com</a>.</contactInfo>
</footer>
